
<div *ngIf="newContact!.id && newContact!.id !== undefined && newContact!.id !== null ; else createNewContact">
  <h2>Edit Contact</h2>
</div>
<ng-template #createNewContact>
  <h2>Create Contact</h2>
</ng-template>

<form (ngSubmit)="CreateOrUpdateContact()">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" [(ngModel)]="newContact!.name" required>

  <label for="surname">Surname:</label>
  <input type="text" id="surname" name="surname" [(ngModel)]="newContact!.surname" required>

  <label for="contact">Contact:</label>
  <input type="text" id="contact" name="contactInfo" [(ngModel)]="newContact!.contactInfo" >

  <button type="submit">Create</button>
</form>